.welcome {
	color: rgba(255, 255, 255, .7);
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

#mainNav {
	border-color: rgb(26, 76, 116);
	background-color: rgb(26, 76, 116);
}


#mainNav.navbar-shrink .navbar-brand, #mainNav.navbar-shrink .navbar-brand
	{
	color: rgb(26, 76, 116)!important;
}
#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover
	{
	color: rgba(70, 150, 194, 0.9) !important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus
	{
	color: rgba(70, 150, 194, 0.9)!important;
}

a:focus, a:hover {
	color: rgba(70, 150, 194, 0.9)
}

a{
 color: rgb(26, 76, 116);
	
}

.bg-primary {
	background-color: rgb(26, 76, 116) !important;
}

.btn-primary {
	background-color: rgb(26, 76, 116);
}

.btn-primary:hover {
	background-color: rgba(70, 150, 194, 0.9)
}

hr{
	border-color: rgb(26, 76, 116);
}