#f{
    background-color: #3e403d;
    width: 100%;
    height: 110%;
    padding: 72px;
    border-radius: 24px;
    border-color: white;
    border-width: 61px;
}


input{
    margin-bottom: 20px;
}