.form-group input, .form-group select {
	max-width: 250px;
}

.section {
	/*height: 100vh;*/
	
}

.wizard>.actions {
	position: relative;
}

.wizard.vertical>.actions {
	bottom: 0px;
	right: 34%;
}

/* DivTable.com */
div.paleBlueRows {
	border: 1px solid #FFFFFF;
	width: 100%;
	height: 200px;
	text-align: left;
	border-collapse: collapse;
}

.divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead
	{
	border: 1px solid #FFFFFF;
	padding: 3px 2px;
}

.divTable.paleBlueRows .divTableBody .divTableCell {
	font-size: 13px;
}

.divTable.paleBlueRows .divTableRow:nth-child(even) {
	background: #D0E4F5;
}

.divTable.paleBlueRows .divTableHeading {
	background: rgb(26, 76, 116);
	border-bottom: 5px solid #FFFFFF;
}

.divTable.paleBlueRows .divTableHeading .divTableHead {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.divTable.paleBlueRows .divTableHeading .divTableHead:first-child {
	border-left: none;
}

.paleBlueRows .tableFootStyle {
	font-size: 14px;
}
/* DivTable.com */
.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}

.no-vh {
	height: unset;
}

.short-table .divTableCell, .short-table .divTableCell {
	width: 244px;
}

.paleBlueRows.short-table {
	height: 80px;
}

.divTableBody input[type='text'] {
	width: 100%;
}

.divTableBody input[type='checkbox'] {
	margin-right: 10px;
}

table.blueTable {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.blueTable tbody td {
	font-size: 13px;
}

table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
}

table.blueTable thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
}

table.blueTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
	border-left: none;
}

table.blueTable tfoot td {
	font-size: 14px;
}

table.blueTable tfoot .links {
	text-align: right;
}

table.blueTable tfoot .links a {
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}

.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active
	{
	background: rgb(12, 55, 90);
}

.wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active
	{
	background: rgb(26, 76, 116);
}

.wizard>.steps .done a, .wizard>.steps .done a:hover, .wizard>.steps .done a:active
	{
	background: #89b0c8;
}


.wizard > .content > .body input.new-record{
	display:inline;
}

.inline{
	display:inline;
}

.button {
	background-color: #1C6EA4;
	border: 0;
	color: #FFF;
	display:inline;
}

.btn.add-new-record {
    border-radius: 7px;
    width: 200px;
    height: 30px;
    font-family: sans-serif;
    font-weight: 100;
    display: inline;
}

.card-body {
	border-radius: 10px;
}

.button:hover {
	background: #2188c9;
	color: #F2F2F2;
	text-decoration: none;
}

.card-text-body {
	margin-bottom: 30px;
}

li[role='tab'] a {
	background-color: #eee;;
}

.page-part.section {
	margin-bottom: 30px;
}

.page-part.section.empty-area {
	margin-bottom: 250px;
}

.consent-letter h2, .consent-letter p, .consent-letter ul {
	text-align: left;
}

@media ( max-width : 680px) {
	.wizard>.steps>ul>li {
		display: none;
	}
	.wizard>.steps>ul>li.current {
		display: block;
		width: 100%;
	}
}

.wizard.vertical>.steps {
	width: 15%;
}

.chosen-container-multi .chosen-choices {
	width: 150px
}

.feedback {
	width: 100%
}

.steps.clearfix {
	background-color: #cccfd1;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px
}

.steps.clearfix.current-section {
	background-color: #1a4c74;
}

.content.clearfix {
	height: 550px;
}

.wizard>.content>.body {
	overflow: scroll;
}

.wizard.vertical>.actions>ul>li {
	width: 156px;
	text-align: center;
}

.tooltipster-sidetip .tooltipster-content {
	font-size: 13px;
}

.wizard>.steps a, .wizard>.steps a:hover, .wizard>.steps a:active {
padding: 0.5em 0.5em;	
font-size: 14px;
}

#roles-table .divTable, #team-roles-table .divTable, #standard-table{
	margin-bottom: 15px;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}
select.roles-list, select.standard-list{
	display: none;
}


#standard-options input, #standard-options label{
	display: inline;
}

#standard-table .standard-header-name, #level-table .level-header-name {
	width: 15%;
}

#standard-table textarea, #level-table textarea {
	width: 99%;
}


#level-options input, #level-options label{
	display: inline;
}

textarea[readonly='readonly']{
	background-color: #eee;
}

.edit-buttons .button{
	float: left;
	width: 45%;
	text-align: center;
	padding: 5px 14px;
}

.button.x-button{
	float: right;
	padding: 4px 12px;
	border-radius: 5px;
}

#preview-button{
	border-radius: 5px;
}

.col-lg-3.col-md-4.col-sm-6.portfolio-item{
	padding: 15px;
}

