<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="copy (pageOrder, pageName, headers,rows,task)"
		class="divTable paleBlueRows">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${task}"></div>
				<div class="divTableHead" th:each="header:${headers}"
					th:text="${header}"></div>
			</div>
		</div>
		<div class="divTableBody">
			<div class="divTableRow" th:each="row:${rows}">
				<div class="divTableCell">
					<label><input
						th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName,task, row, 'is checked')}"
						type="checkbox" data-unchecked-value="false" value="true" onchange="enableCurrentRow(this)" th:text="${row}"/></label>


				</div>
				<div th:each="header: ${headers}" class="divTableCell">
					<select
						th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, task, row, header) + '[]'}"
						class="form-control roles-list" disabled="disabled"
						multiple="multiple">
					</select>
				</div>
			</div>


			<div class="divTableRow" th:each="row:${customizedFields.get(pageOrder + '.' + pageName + '.' + task)}">
				<div class="divTableCell">
					<label><input
							th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName,task, 'Customized', row, 'is checked')}"
							type="checkbox" data-unchecked-value="false" value="true" onchange="enableCurrentRow(this)" th:text="${row}"/></label>


				</div>
				<div th:each="header: ${headers}" class="divTableCell">
					<select
							th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, task, 'Customized', row, header) + '[]'}"
							class="form-control roles-list" disabled="disabled"
							multiple="multiple">
					</select>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
