<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy(pageOrder, pageName, rows)"
	class="page-part section">

	<div id="Coordinates" class="divTable paleBlueRows">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${pageName}"></div>
				<div class="divTableHead"></div>

			</div>
		</div>
		<div class="divTableBody">
			<div class="divTableRow" th:each="row:${rows}">
				<div class="divTableCell" th:text="${row}"></div>
				<div class="divTableCell">
					<input type="text"
						th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, row)}" />
				</div>
			</div>

			<div class="divTableRow" th:each="row:${customizedFields.get(pageOrder + '.' + pageName)}">
				<div class="divTableCell" th:text="${row}"></div>
				<div class="divTableCell">
					<input type="text"
						   th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, 'Customized', row)}" />
				</div>
			</div>


		</div>
	</div>

	<div class="form-group inline">
		<input type="text"
										   class="new-record"/>
	</div>
	<div class="form-group inline">
		<button class="btn btn-primary add-new-record" id="add-coordinate" onclick="addCustomCoordinate(event)">Add new</button>
	</div>

	<input type="hidden" th:id="${'timer'+ pageOrder}" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}"/>

</div>

</html>