<html xmlns:th="http://www.thymeleaf.org">

<div th:with="id=${#strings.replace(#strings.capitalizeWords(header),' ','') + pageOrder}"
     th:fragment="copy(pageOrder, headeForNaming, rows, stage, header)">
    <div th:id="${id}" class="divTable paleBlueRows short-table">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead" th:text="${header}"></div>
            </div>
        </div>

        <div class="divTableBody">
            <div class="divTableRow" th:each="row:${rows}">
                <div class="divTableCell">

                    <label><input
                            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, headeForNaming, row)}"
                            data-unchecked-value="false" value="true" type="checkbox"
                            th:text="${row}"/></label>

                </div>
            </div>
            <div class="divTableRow" th:each="row:${customizedFields.get(pageOrder + '.' + stage + '.' + headeForNaming)}">
                <div class="divTableCell">

                    <label><input
                            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, headeForNaming, 'Customized', row)}"
                            data-unchecked-value="false" value="true" type="checkbox"
                            th:text="${row}"/></label>

                </div>
            </div>
        </div>
    </div>


    <div class="form-group inline">
        <input type="text" class="new-record"
                                            id="new-record"/>
    </div>
    <div class="form-group inline">
        <button class="btn btn-primary add-new-record" id="add-new-record" th:onclick="'addCustomNewRecord(event,\'' + ${id} + '\',\'' + ${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, headeForNaming,'Customized')} + '\')'">Add new</button>
    </div>

</div>
</html>