<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="copy(pageOrder)">
    <div class="page-part section"
         th:with="rows=${ {'Project number', 'Project name', 'Project address', 'Client name', 'Contact details', 'Design start date', 'Construction start date', 'Completion date', 'Handover date', 'Short project description'} }">

        <div id="prjct-Info-div">
            <div class="form-group" th:each="row,itrStat:${rows}"
                 th:with="name=${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Project Information', (itrStat.index+1),row)}">
                <label th:for="${name}" th:text="${row}"></label>
                <input type="text"
                       class="form-control"
                       th:name="${name}"
                       th:placeholder="${row}"/>
            </div>



            <div class="form-group" th:each="row:${customizedFields.get(pageOrder+'.Project Information')}"
                 th:with="name=${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Project Information', 'Customized',row)}">
                <label th:for="${name}" th:text="${row}"></label>
                <input type="text"
                       class="form-control"
                       th:name="${name}"
                       th:placeholder="${row}"/>
            </div>

        </div>

        <div class="form-group inline">
            <input class="new-record" type="text" id="new-info"/>
        </div>
        <div class="form-group inline">
            <button class="btn btn-primary add-new-record" id="add-new-info" onclick="addCustomInfo(event)">Add new
            </button>
        </div>

    </div>

    <input type="hidden" id="timer1"
           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}"/>
</section>


</html>