<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="copy(pageOrder, headers, rows, section, tableId, listClass, buttonID)" class="page-part section" th:id="${tableId}">

	<div class="divTable paleBlueRows">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${section}"></div>
				<div th:each="header:${headers}" class="divTableHead" th:text="${header}"></div>

			</div>
		</div>
		<div class="divTableBody">
			<div class="divTableRow" th:each="row:${rows}">
				<div class="divTableCell">
					<label><input type="checkbox" checked="checked" data-unchecked-value="false" value="true"
								  th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row, 'include role')}"
						
						th:onchange="'toggleNextInputs($(this),\'' + ${listClass} + '\')'" th:text="${row}" /></label>
						

				</div>
				<div class="divTableCell" th:each="header:${headers}">
					<input type="text"
						th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row, header)}" />
				</div>
			</div>

			<div class="divTableRow" th:each="row:${customizedFields.get(pageOrder+'.'+section)}">
				<div class="divTableCell">
					<label><input type="checkbox" checked="checked" data-unchecked-value="false" value="true"
								  th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, 'Customized' ,row, 'include role')}"

								  th:onchange="'toggleNextInputs($(this),\'' + ${listClass} + '\')'" th:text="${row}" /></label>


				</div>
				<div class="divTableCell" th:each="header:${headers}">
					<input type="text"
						   th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row, header)}" />
				</div>
			</div>
		</div>
	</div>



	<div class="form-group inline">
		<label>Role</label> <input type="text" class="new-record" id="new-role" />
	</div>
	<div class="form-group inline">
		<button class="btn btn-primary add-new-record" th:id="${buttonID}"
			>Add new role</button>
	</div>

</div>



</html>