<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy(pageOrder, pageName, headers, rows, section)"
     class="page-part section">

    <div id="SoftwarePlatform" class="divTable paleBlueRows">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead" th:text="${section}"></div>
                <div class="divTableHead" th:each="header:${headers}"
                     th:text="${header}"></div>

            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow" th:each="row:${rows}">
                <div class="divTableCell" th:text="${row}"></div>
                <div class="divTableCell" th:each="header:${headers}">
                    <input type="text"
                           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, section, row, header)}"/>
                </div>
            </div>


            <div class="divTableRow" th:each="row:${customizedFields.get(pageOrder + '.' + pageName + '.' + section)}">
                <div class="divTableCell" th:text="${row}"></div>
                <div class="divTableCell" th:each="header:${headers}">
                    <input type="text"
                           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, section, 'Customized',row, header)}"/>
                </div>
            </div>


        </div>
    </div>

    <div class="form-group inline">
        <input type="text" class="new-record"/>
    </div>
    <div class="form-group inline">
        <button class="btn btn-primary add-new-record" id="add-new-software" onclick="addCustomSoftwarePlatform(event)">
            Add new
        </button>
    </div>

    <input type="hidden" th:id="${'timer'+ pageOrder}"
           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}"/>

</div>

</html>