<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy(pageOrder, header, rows, section)"
	class="page-part section no-vh">
	<div id="standard-table" class="divTable paleBlueRows">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${section}"></div>
				<div class="divTableHead" th:text="${header}"></div>

			</div>
		</div>
		<div class="divTableBody">
			<div class="divTableRow" th:each="row:${rows}">
				<div class="divTableCell">
					<label><input
						th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row,'is checked')}"
						type="checkbox"
						onchange="enableCurrentRow(this)" th:text="${row}" /></label>
				</div>

				<div class="divTableCell">
					<select class="standard-list"
						th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row, header)}"
						multiple="multiple" disabled="disabled">
						<option value="Satndards For LOD">SatndardsForLOD</option>
						<option value="Standards For CDE">StandardsForCDE</option>
						<option value="Standards For COBie">StandardsForCOBie</option>
						<option value="Standards For Classification">StandardsForClassification</option>
						<option value="Standards For Collaboration">StandardsForCollaboration</option>
						<option value="Standards For Contracts">StandardsForContracts</option>
						<option value="Standards For Costing">StandardsForCosting</option>
						<option value="Standards For Drawing">StandardsForDrawing</option>
						<option value="Standards for project team">Standards for
							project team</option>
						<option value="Standards For FileNaming">StandardsForFileNaming</option>
						<option value="Standards For Guidance">StandardsForGuidance</option>
						<option value="Standards ForObjectNaming">StandardsForObjectNaming</option>
						<option value="StandardsForProjectStages">StandardsForProjectStages</option>
						<option value="StandardsForQualityControl">StandardsForQualityControl</option>
						<option value="StandardsForSecurityAndDataProtection">StandardsForSecurityAndDataProtection</option>
						<option value="Standard for coordination and clash detection">Standard
							for coordination and clash detection</option>
						<option value="Standards for Health and safetey">Standards
							for Health and safetey</option>
						<option value="StandardsForDesignManagementSystem">Standards
							For Design Management System</option>
						<option value="standardsForConstruction Procurement policies">standards
							For Construction Procurement policies</option>
						<option value="Standards For Asset Management">Standards
							For Asset Management</option>

					</select>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group inline">
		<label>Standard</label> <input type="text"
			id="new-standard" />
	</div>
	<div class="form-group inline">
		<button class="btn btn-primary" id="add-new-standard" onclick="addNewStandard(event)">Add new Standard</button>
	</div>

	<div class="page-part section empty-area"></div>
	<div class="page-part section empty-area"></div>

	<div class="page-part section empty-area"></div>


	<input type="hidden" id="timer7"
		th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}" />

</div>





</html>