<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy(pageOrder, header, rows, section, values)"
     class="page-part section no-vh">
    <div id="standard-table" class="divTable paleBlueRows">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead standard-header-name" th:text="${section}"></div>
                <div class="divTableHead" th:text="${header}"></div>

            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow" th:each="row,itrStat:${rows}">
                <div class="divTableCell">
                    <label><input
                            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row,'is checked')} "
                            type="checkbox" data-unchecked-value="false" value="true"
                            onchange="enableCurrentRow(this)" th:text="${row}"/></label>
                </div>

                <div class="divTableCell standard">
                    <textarea
                            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row, header)}"
                            rows="2" th:text="${values[itrStat.index]}" readonly="readonly"></textarea>
                </div>
            </div>

            <div class="divTableRow" th:each="row,itrStat:${customizedFields.get(pageOrder + '.' + section)}">
                <div class="divTableCell">
                    <label><input
                            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, 'Customized', row,'is checked')} "
                            type="checkbox" data-unchecked-value="false" value="true"
                            onchange="enableCurrentRow(this)" th:text="${row}"/></label>
                </div>

                <div class="divTableCell standard">
                    <textarea
                            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section,'Customized', row, header)}"
                            rows="2" th:text="${values[itrStat.index]}"></textarea>
                </div>
            </div>


        </div>
    </div>

    <div class="form-group inline">
        <label>Standard</label> <input class="new-record" type="text"
                                       id="new-standard"/>
    </div>
    <div class="form-group inline">
        <button class="btn btn-primary add-new-record" id="add-new-standard" onclick="addNewStandard(event)">Add new
        </button>
    </div>

    <div class="page-part section empty-area"></div>
    <div class="page-part section empty-area"></div>

    <div class="page-part section empty-area"></div>


    <input type="hidden" th:id="${'timer'+ pageOrder}"
           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}"/>

</div>


</html>