<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>OntEir</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom fonts for this template -->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css' />

<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/creative.min.css" rel="stylesheet" />

<link href="css/home.css" rel="stylesheet" />
<link href="css/product.css" rel="stylesheet" />


</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="/">ONTEIR</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link welcome"
					sec:authorize="isAuthenticated()"> Welcome <span
						sec:authentication="name"></span>
				</a></li>
				<li class="nav-item" sec:authorize="!isAuthenticated()"><a
					class="nav-link" href="/login">Log in</a></li>

				<li class="nav-item"><a class="nav-link" href="/onteirForm">Form</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/submissions">Submissions</a></li>

				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" href="/admin">Admin Panel</a></li>

				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>


	<section>
		<!-- Page Content -->
		<div class="container">

			<!-- Page Heading -->
			<h1 class="my-4">All Submissions</h1>
			<!--/*@thymesVar id="submission" type="com.onteir.dto.SubmissionPreviewDTO"*/-->


			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"
					th:each="submission:${submissions}">
					<div class="card h-100">
						<div class="card-body">
							<div class="link">
								<a class="button x-button" th:href="'/user/deleteSubmission/'+${submission.getId()}">X</a>
							</div>

							<div class="card-text-body">
								<p class="card-text"
									th:text="'Project name: ' + ${submission.getProjectName()}">
								</p>
								<p class="card-text"
								   th:text="'Project number: ' + ${submission.getProjectNumber()}">
								</p>
								<p class="card-text"
									th:text="'Project address: ' + ${submission.getProjectAddress()}"></p>


							</div>
							<div class="edit-buttons">
								<div class="link">
									<a id="preview-button" class="button" th:href="'/user/submission/'+${submission.getId()}">Preview</a>
								</div>
							</div>

						</div>


						<br />
					</div>
				</div>
			</div>
			<!-- /.row -->

			<!-- Pagination -->
			<!--<ul class="pagination justify-content-center">-->
			<!--<li class="page-item"><a class="page-link" href="#"-->
			<!--aria-label="Previous"> <span aria-hidden="true">&laquo;</span>-->
			<!--<span class="sr-only">Previous</span>-->
			<!--</a></li>-->
			<!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
			<!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
			<!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
			<!--<li class="page-item"><a class="page-link" href="#"-->
			<!--aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span-->
			<!--class="sr-only">Next</span>-->
			<!--</a></li>-->
			<!--</ul>-->

		</div>

	</section>
	<!-- /.container -->

	<section th:replace="footer :: copy"></section>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/popper/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/creative.min.js"></script>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/popper/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/match-height.js"></script>


	<script>
		$(function() {
			$('.card-text-body').matchHeight();
			//        $('.portfolio-item').matchHeight();
		});
	</script>

</body>

</html>
