<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>OntEir</title>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom fonts for this template -->
<link href="/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css' />

<!-- Plugin CSS -->
<link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/creative.min.css" rel="stylesheet" />

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/json.human.js"></script>
<link href="/css/tables.css" rel="stylesheet" />
<link href="/css/home.css" rel="stylesheet" />


</head>

<body id="page-top">

	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="/">ONTEIR</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link welcome"
					sec:authorize="isAuthenticated()"> Welcome <span
						sec:authentication="name"></span>
				</a></li>
				<li class="nav-item" sec:authorize="!isAuthenticated()"><a
					class="nav-link" href="/login">Log in</a></li>

				<li class="nav-item"><a class="nav-link" href="/onteirForm">Form</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/submissions">Submissions</a></li>

				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" href="/admin">Admin Panel</a></li>

				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>







	<!--/*@thymesVar id="submission" type="com.mongodb.BasicDBObject"*/-->

    <input id="data" type="hidden"
           th:data="${submission}"/>

    <section>
        <div class="row edit-icon">
			<span  th:if="${isCreator}" class="submission-buttons" th:classappend="${isCreator}? 'submission-buttons4':'submission-buttons3'"> <a th:href="${'/onteirForm?submissionID=' + id}">
                <span class="fa fa-pencil-square-o">Edit</span>
            </a>
			</span>

            <span  class="submission-buttons" th:classappend="${isCreator}? 'submission-buttons4':'submission-buttons3'">		<a href="#" onclick="toPdf()">
				<span class="fa fa-file-pdf-o">Download pdf</span>
			</a>
			</span>

            <span  class="submission-buttons" th:classappend="${isCreator}? 'submission-buttons4':'submission-buttons3'">		<a th:href="${'/user/submission/csv/'+ id}">
				<span class="fa fa-file-excel-o">Download csv</span>
			</a>
			</span>

            <span class="submission-buttons" th:classappend="${isCreator}? 'submission-buttons4':'submission-buttons3'">		<a th:href="${'/user/deleteSubmission/' + id}">
            <span class="fa fa-file-excel-o">Delete</span>
        </a>
            </span>

        </div>

        <div id="preview" class="row">

        </div>
    </section>


    <section th:replace="footer :: copy"></section>

	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/popper/popper.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="/js/creative.min.js"></script>

	<!--PDF download-->

	<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
	<script src="/js/jspdf.min.js"></script>
	<script src="/js/html2canvas.min.js"></script>


	<script th:inline="javascript">
    $(document).ready(function(e) {
        var input = JSON.parse($('#data').attr('data'));
        var node = JsonHuman.format(input, {
            showArrayIndex: false,

            hyperlinks : {
                enable : true,
                keys: ['url'],
                target : '_blank'
            },


            bool : {
                showText : true,
                text : {
                    true : "Yes",
                    false : "No"
                },

                showImage : false
               /*  img : {
                    true : 'css/true.png',
                    false : 'css/false.png'
                } */
            }
        });

        $('#preview').append(node);
        $('#preview table').addClass("blueTable");




    });


    function toPdf() {

        html2canvas(document.querySelector("#preview"), {
            scale: 1
        }).then(function (canvas) {
            var imgData = canvas.toDataURL('image/jpeg');
            var doc = new jsPDF('p', 'mm', [canvas.width, canvas.height]);
            doc.addImage(imgData, 'jpeg', 10, 10, canvas.width, canvas.height);

            var date = new Date();

            var date = new Date("10/11/2009");
            var locale = "en-us";
            var month = date.toLocaleString(locale, {month: "short"});

            doc.save("onteir_submission_" + getTime() + '.pdf');
        });

    }


    function getTime(){
        var date = new Date();
        var locale = "en-us";
        var secs = date.getSeconds();
        var minutes = date.getMinutes();
        var hours = date.getHours();
        var day = date.getDate();
        var month = date.toLocaleString(locale, { month: "short" });
        var year = date.getFullYear();

        return ([day,month,year,hours,minutes,secs].join("_"));


	}
</script>




</body>
</html>