<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="copy(pageOrder, stage)">

    <div class="page-part section">
        <div class="divTable paleBlueRows">


            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'Substructure'}"></div>
                    <div class="divTableHead" th:text="${'Frames'}"></div>
                    <div class="divTableHead" th:text="${'Upper Floors'}"></div>
                    <div class="divTableHead" th:text="${'Roof'}"></div>
                    <div class="divTableHead" th:text="${'Stairs and Ramps'}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: substructure_list(${pageOrder},${question}, '1', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: frames_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: upper_floors_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: roof_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: stairs_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>
            </div>


            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'External Walls'}"></div>
                    <div class="divTableHead" th:text="${'Windows and external walls'}"></div>
                    <div class="divTableHead" th:text="${'Internal Walls and Partitions'}"></div>
                    <div class="divTableHead" th:text="${'Internal Doors'}"></div>
                    <div class="divTableHead" th:text="${'Wall Finishes'}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: external_walls_list(${pageOrder},${question}, '2', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: windows_external_walls_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: internal_walls_partitions_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: internal_doors_list(${pageOrder}, ${question}, '2', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: wall_Finishes_list(${pageOrder}, ${question}, '3', ${stage})"></div>
                </div>
            </div>




            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'Follow finishes'}"></div>
                    <div class="divTableHead" th:text="${'Ceiling Finishes'}"></div>
                    <div class="divTableHead" th:text="${'Fittings Furnishings and Equipment'}"></div>
                    <div class="divTableHead" th:text="${'Sanitary Appliances '}"></div>
                    <div class="divTableHead" th:text="${'Services Equipment '}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: follow_finishes_list(${pageOrder},${question}, '3', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: ceiling_finishes_list(${pageOrder}, ${question}, '3', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: fittings_furnishings_list(${pageOrder}, ${question}, '4', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: sanitary_appliances_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: services_equipment_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>
            </div>


            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'Disposal Installations'}"></div>
                    <div class="divTableHead" th:text="${'Water Installations'}"></div>
                    <div class="divTableHead" th:text="${'Heat Source'}"></div>
                    <div class="divTableHead" th:text="${'Space heating and Air Conditioning'}"></div>
                    <div class="divTableHead" th:text="${'Ventilation Systems'}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: disposal_installations_list(${pageOrder},${question}, '5', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: water_installations_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: heat_source_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: space_heating_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: ventilation_systems_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>
            </div>


            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'Electrical Installations'}"></div>
                    <div class="divTableHead" th:text="${'Fuel Installations'}"></div>
                    <div class="divTableHead" th:text="${'Lift and Conveyor Installations'}"></div>
                    <div class="divTableHead" th:text="${'Fire and Lightning Protection'}"></div>
                    <div class="divTableHead" th:text="${'Communication Security and Control Installations'}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: electrical_installations_list(${pageOrder},${question}, '5', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: fuel_installations_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: lift_conveyor_installations_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: fire_lightning_protection_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: communication_security_list(${pageOrder}, ${question}, '5', ${stage})"></div>
                </div>
            </div>


            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'Specialist Installations'}"></div>
                    <div class="divTableHead" th:text="${'Roads, Paths, and Pathing'}"></div>
                    <div class="divTableHead" th:text="${'Soft Landscaping'}"></div>
                    <div class="divTableHead" th:text="${'Fencing, Railings and walls'}"></div>
                    <div class="divTableHead" th:text="${'Street Furniture and Equipment'}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: specialist_installations_list(${pageOrder},${question}, '5', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: roads_paths_pathing_list(${pageOrder}, ${question}, '6', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: soft_landscaping_list(${pageOrder}, ${question}, '6', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: fencing_railings_list(${pageOrder}, ${question}, '6', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: street_furniture_list(${pageOrder}, ${question}, '6', ${stage})"></div>
                </div>
            </div>


            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="${'External Drainage'}"></div>
                    <div class="divTableHead" th:text="${'External Services'}"></div>
                    <div class="divTableHead" th:text="${'LOD'}"></div>
                    <div class="divTableHead" th:text="${'LOI'}"></div>
                </div>
            </div>

            <div class="divTableRow" th:with="question=${ {'e- Asset Information Requirements'} }">
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: external_drainage_list(${pageOrder},${question}, '5', ${stage})"></div>
                </div>
                <div class="divTableCell">
                    <div th:replace="part2/assetInformationRequirements :: external_services_list(${pageOrder}, ${question}, '6', ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/common :: LOD_list(${pageOrder},'7', ${question}, ${stage})"></div>
                </div>

                <div class="divTableCell">
                    <div th:replace="part2/common :: LOI_list(${pageOrder},'7', ${question}, ${stage})"></div>
                </div>

            </div>


        </div>
    </div>
</div>





<div th:fragment="substructure_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Standard foundation', 'Specialist foundation system', 'Lowest floor construction', 'Basement excavation', 'Basement retaining walls'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Substructure')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="wall_Finishes_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Finishes to walls'} }">

    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Wall Finishes')+'[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="sanitary_appliances_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Sanitary appliances', 'Sanitary ancillaries'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Sanitary Appliances')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="roads_paths_pathing_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Roads, paths and paving', 'Special surfaces paving'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Roads, Paths, and Pathing')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="frames_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Structural Steel frames', 'Space frames/ decks', 'Concrete casings to steel frames', 'Concrete frames', 'Specialist frames' } }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Frames')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="follow_finishes_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Finishes to floors', 'Raised access floors'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Follow finishes')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="services_equipment_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Services equipment'} }">

    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Services Equipment')+'[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="soft_landscaping_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Seeding and turfing', 'External planting', 'Irrigation systems'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Soft Landscaping')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="upper_floors_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Floors', 'Balconies', 'Drainage to balconies'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Upper Floors')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="ceiling_finishes_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Finishes to ceilings', 'False ceilings', 'Demountable suspended ceilings'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Ceiling Finishes')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="disposal_installations_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Foul drainage above ground', 'Chemical, toxic and industrial liquid waste drainage', 'Refuse disposal'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Disposal Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="fencing_railings_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Fencing and railings', 'Walls and screens', 'Retaining walls', 'Barriers and Guardrails'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Fencing, Railings and walls')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="roof_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Roof structure', 'Roof coverings', 'Specialist roof systems', 'Roof drainage', 'Roof lights skylights and openings', 'Roof features'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Roof')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="fittings_furnishings_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'General fittings, furnishings and equipment', 'Domestic kitchen fittings and equipment', 'Special purpose fittings furnishings and equipment', 'Signs / notices', 'Works of art', 'Non-mechanical and electrical equipment', 'internal planting', 'Bird and vermin control'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Fittings Furnishings and Equipment')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="water_installations_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Mains water supply', 'Cold water distribution', 'Hot water distribution', 'Local hot water', 'Steam and condensation distribution'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Water Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="street_furniture_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Site / Street Furniture and equipment' ,'Ornamental Features'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Street Furniture and Equipment')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="stairs_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Stairs/ ramp structure', 'Stair/ ramp finishes', 'Stairs/ ramps balustrades and handrails', 'Ladders/ chutes/ slides'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Stairs and Ramps')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="heat_source_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Heat Source'} }">

    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Heat Source')+'[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="external_drainage_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Surface water and foul water drainage', 'Ancillary drainage systems', 'External laboratoty and industrial liquid waste', 'Land drainage - infiltration trenches'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'External Drainage')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="external_walls_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'External enclosing walls above ground floor level', 'External enclosing walls below ground floor level', 'Solar/ rain screening', 'External soffits', 'Subsidiary walls, balustrades, handrails, railings', 'Façade access / cleaning systems'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'External Walls')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="space_heating_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Central heating', 'Local heating', 'Central Cooling', 'Local cooling', 'Central heating and cooling', 'Local heating and cooling', 'Central air conditioning', 'Local air conditioning'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Space heating and Air Conditioning')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="external_services_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Water mains supply', 'Electricity mains supply', 'External transformation devices', 'Electricity distribution to external plan equipment', 'Gas mains supply', 'Telecommunications and other communications connections', 'External fuel storage and pipe distribution system', 'External security systems', 'External street lighting system', 'Local / district heating installation'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'External Services')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="windows_external_walls_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'External windows', 'External doors'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Windows and external walls')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="ventilation_systems_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Central Ventilation', 'Local and special ventilation', 'Smoke extract control'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Ventilation Systems')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="internal_walls_partitions_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Walls and partitions', 'Balustrades and handrails', 'Movable room dividers', 'Cubicles'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Internal Walls and Partitions')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="electrical_installations_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Electrical mains and sub-mains distribution', 'Power installations', 'Lighting Installations', 'Specialist Lighting Installations', 'Local electricity generation systems', 'Earthing and bonding systems'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Electrical Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="internal_doors_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Internal doors'} }">

    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Internal doors')+'[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="fuel_installations_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Fuel storage', 'Fuel distribution systems'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Fuel Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="lift_conveyor_installations_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Lift and enclosed Hoists', 'Escalators', 'Moving pavements', 'Powered stair lifts', 'Conveyors', 'Dock levellers and scissors lifts', 'Cranes and unenclosed hoists', 'Car lifts, car stacking system, turntables, etc.', 'Document handling system', 'Other transport systems'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Lift and Conveyor Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>


<div th:fragment="fire_lightning_protection_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Fire fighting systems', 'Fire suppression systems', 'Lightning Protection'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Fire and Lightning Protection')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



<div th:fragment="communication_security_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Communication systems', 'Security systems', 'Central control / building management systems'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Communication Security and Control Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>

<div th:fragment="specialist_installations_list(pageOrder, question, questionOrder, stage)"
     th:with="options=${ {'Specialist piped supply system', 'Specialist refrigeration system', 'Specialist mechanical installations', 'Specialist electrical installations'} }">

    <select multiple="multiple" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Specialist Installations')+'[]'}">
        <option th:each="option:${options}" th:text="${option}" th:value="${option}"></option>
    </select>
</div>



</html>