<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy(pageOrder, stage)" th:with="question=${'f- COBie'}">
	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Contact Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">
			<div class="divTableCell">
				<div
					th:replace="part2/common :: contact_list(${pageOrder},'1',${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'1', ${question}, ${stage})"></div>
			</div>
		</div>

	</div>

	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Faculty Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">
			<div class="divTableCell">
				<div
					th:replace="part2/common :: faculty_list(${pageOrder},'2', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'2', ${question}, ${stage})"></div>
			</div>
		</div>
	</div>

	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Floor Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">

			<div class="divTableCell">
				<div th:replace="part2/common :: floor_list(${pageOrder},'3', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'3', ${question}, ${stage})"></div>
			</div>

		</div>
	</div>

	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Space Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">
			<div class="divTableCell">
				<div th:replace="part2/common :: space_list(${pageOrder},'4', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'4', ${question}, ${stage})"></div>
			</div>

		</div>
	</div>

	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Zone Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">

			<div class="divTableCell">
				<div th:replace="part2/common :: zone_list(${pageOrder},'5', ${question}, ${stage})"></div>
			</div>

			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'5', ${question}, ${stage})"></div>
			</div>
		</div>
	</div>


	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Type Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">
			<div class="divTableCell">
				<div
					th:replace="part2/common :: type_sheet_list(${pageOrder},'6', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'6', ${question}, ${stage})"></div>
			</div>
		</div>
	</div>


	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'Component Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">
			<div class="divTableCell">
				<div
					th:replace="part2/common :: component_list(${pageOrder},'7', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'7', ${question}, ${stage})"></div>
			</div>
		</div>
	</div>


	<div class="divTable paleBlueRows short-table">
		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${'System Sheet'}"></div>
				<div class="divTableHead" th:text="${'Type'}"></div>
			</div>
		</div>

		<div class="divTableRow">
			<div class="divTableCell">
				<div th:replace="part2/common :: system_list(${pageOrder},'8', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: type_list(${pageOrder},'8', ${question}, ${stage})"></div>
			</div>
		</div>
	</div>

</div>
</html>