<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="selectFromProjectTeamRole(pageOrder, question, stage)"
	class="divTable paleBlueRows short-table">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead" th:text="${'Role'}"></div>
		</div>
	</div>

	<div class="divTableRow">
		<div class="divTableCell">
			<select multiple="multiple"
				th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question) + '[]'}"
				class="team-roles">
			</select>
		</div>
	</div>

</div>


<div th:fragment="selectFromDataSecurityList(pageOrder, question, stage)"
     class="divTable paleBlueRows short-table"
     th:with="options=${ {'Security Status IL1 (not protectively marked)', 'Security Status IL2 (protected)', 'Security Status IL3 (restricted)', 'Security Status IL4 (confidential)'} }">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead" th:text="${'Security Status'}"></div>
        </div>
    </div>

    <div class="divTableRow">
        <div class="divTableCell">
            <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question) + '[]'}">
                <option disabled="disabled" selected="selected">select an option</option>
                <option th:each="option:${options}" th:text="${option}"
                        th:value="${option}"></option>
            </select>
        </div>
    </div>

</div>



<div th:fragment="component_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'created by', 'created on', 'type name', 'space name', 'description', 'Ext system', 'Ext object', 'Ext identifier'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Component sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="content_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'Maintenance Access',
	 'Space Planning', 'Surveys', 'Building and site sections',
	  'Specifications', 'Site and contex', 'External form and appearance',
	   'Internal layouts', 'Fire', 'Physical security', 'Disabled access'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Overall Form and Content') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="LOD_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'LOD2', 'LOD3', 'LOD4', 'LOD5', 'LOD6'} }">
    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'LOD') + '[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="LOI_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'LOI2', 'LOI3', 'LOI4', 'LOI5', 'LOI6'} }">
    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'LOI') + '[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="team_list(pageOrder, questionOrder, question, stage)">
    <select multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Responsibility of') + '[]'}"
            class="team-roles">
    </select>
</div>

<div th:fragment="type_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'Geometric', 'Non Geometric'} }">
    <select th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Type') + '[]'}">
        <option disabled="disabled" selected="selected">select an option</option>
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="type_sheet_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'created by', 'created on', 'category', 'description', 'asset type code', 'ext system', 'ext object', 'ext identifier', 'nominal width', 'nominal length', 'model reference', 'shape', 'size', 'colour', 'finish', 'grade', 'material', 'consistuents', 'features', 'accessibilty performance', 'code peformance', 'sustainability performance'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Type Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="design_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'Disabled access', 'Fire', 'Maintenance access', 'PhysicalSecurity'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Design Strategies') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>

<div th:fragment="construction_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'Phasing', 'Site access site set-up', 'Site set-up'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Construction Proposals') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="faculty_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'created by', 'created on', 'category', 'project name', 'site name', 'linear units', 'area units', 'volume units', 'area measurement', 'external system', 'external project object', 'external site identifier', 'external facility identifier', 'description', 'site description'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Faculty Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="health_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'Design Construction', 'Construction', 'Design', 'Operation'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Health and Safety') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="delivery_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'2D PDF', '2D DWG', 'Documantation', 'BIM model'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Delivery Format') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="contact_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'E-mail', 'Created by', 'created on', 'category', 'company', 'phone', 'Ext system', 'Ext object', 'Ext identifier', 'department', 'organisation code', 'given name', 'family name', 'street', 'postal box', 'town', 'country'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Contact Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="floor_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'created by', 'created on', 'category', 'Ext system', 'Ext object', 'Ext identifier', 'description', 'elevation', 'height'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Floor Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="space_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'creaated by', 'created on', 'category', 'floor name', 'description', 'Ext system', 'Ext identifier', 'room tag', 'usable height', 'gross area', 'net area'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Space Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="zone_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'created on', 'created by', 'category', 'space name', 'Ext system', 'Ext object', 'Ext identifier', 'description'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Zone Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>

<div th:fragment="performance_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'5DCost Analysis', '4DProgramming Analysis', 'Acoustic Analysis', 'Buidling', 'MEP systems', 'Regulations Compliance Analysis', 'Structural', 'Thermal Simulations', 'Services Commisioning', 'Susutainability Analysis'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Performance') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>


<div th:fragment="elements_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'Building', 'MEP Systems', 'Structural', 'Specifications'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'Elements Materials and Components') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>

<div th:fragment="system_list(pageOrder, questionOrder, question, stage)"
     th:with="options=${ {'name', 'created by', 'created on', 'category', 'component name', 'Ext system', 'Ext object', 'Ext identifier', 'description'} }">
    <select th:multiple="multiple"
            th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, question, questionOrder, 'System Sheet') + '[]'}">
        <option th:each="option:${options}" th:text="${option}"
                th:value="${option}"></option>
    </select>
</div>









<div th:fragment="cobie(pageOrder, stage)" class="divTable paleBlueRows"
     th:with="rows=${ {'COBie Deliverable Exchange Fromat', 'COBie Deliverable', 'COBie Deliverable Type', 'COBie Deliverable Version'} }">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead" th:text="COBie"></div>
            <div class="divTableHead"></div>
        </div>
    </div>


    <div class="divTableRow" th:each="row:${rows}">
        <div class="divTableCell" th:text="${row}"></div>
        <div class="divTableCell">
            <input type="text" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, 'c- COBie', row)}"/>
        </div>
    </div>

    <div class="divTableRow"
         th:with="roleQuistion=${'COBie Responsibility'}">
        <div class="divTableCell" th:text="${roleQuistion}"></div>
        <div class="divTableCell">
            <select
                    th:with="name=${stage} + '[cobie]' +${'[' + roleQuistion + ']'}"
                    th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, stage, 'c- COBie', roleQuistion) + '[]'}"
                    class="form-control roles-list" multiple="multiple">
            </select>
        </div>
    </div>
</div>

</html>