<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="copy(pageOrder, headers,rows,section)" class="page-part section">
	<div class="divTable paleBlueRows">

		<div class="divTableHeading">
			<div class="divTableRow">
				<div class="divTableHead" th:text="${section}"></div>
				<div class="divTableHead" th:each="header:${headers}"
					th:text="${header}"></div>
			</div>
		</div>
		<div class="divTableBody">
			<div class="divTableRow" th:each="row:${rows}">
				<div class="divTableCell" th:text="${row}"></div>
				<div class="divTableCell" th:each="header:${headers}">
					<div class="input-append date form_datetime">
						<input
							th:with="name=${section} + ${'[' + row + ']'} + ${'[' + header + ']'}"
							th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, section, row, header)}"
							th:attr="name=${name}" size="16" type="text" value=""
							readonly="readonly" data-toggle="datepicker"/> <span><i
							class="icon-th"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="timer13" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}"/>

</div>



</html>