<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy(pageOrder, pageName, sec1,rows1,values1,sec2,rows2,values2)"
     class="page-part section">

    <div id="level-options">
        <h3 th:text="${pageName}"></h3>
        <input type="radio" id="default" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder,pageName,'Defintion')}" value="Use definitions provided by OntEIR" onclick="disableLevelToEdit()" checked="checked"/>
        <label for="default">Use definitions provided by OntEIR</label>
        <input type="radio" id="custom" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder,pageName,'Defintion')}" value="Use different definitions" onclick="enableLevelToEdit()"/>
        <label for="custom">Use different definitions</label>
    </div>


    <div id="level-table" class="divTable paleBlueRows">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead level-header-name" th:text="${sec1}"></div>
                <div class="divTableHead">Definition</div>

            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow" th:each="row,itrStat:${rows1}">
                <div class="divTableCell" th:text="${row}"></div>
                <div class="divTableCell">
                    <textarea readonly="readonly" rows="2"
                           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, sec1, row)}"
                              th:text="${values1[itrStat.index]}"></textarea>
                </div>
            </div>
        </div>


        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead level-header-name" th:text="${sec2}"></div>
                <div class="divTableHead"></div>

            </div>
        </div>

        <div class="divTableBody">
            <div class="divTableRow" th:each="row,itrStat:${rows2}">
                <div class="divTableCell" th:text="${row}"></div>
                <div class="divTableCell">
                    <textarea readonly="readonly" rows="2"
                           th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, pageName, sec2,row)}"
                              th:text="${values2[itrStat.index]}"></textarea>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="timer14" th:name="${T(com.onteir.utils.InputNamesUtil).getEncodedName(pageOrder, 'Elapsed time')}"/>

</div>

</html>