<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="copy(pageOrder, question, stage)"
	class="divTable paleBlueRows short-table">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead" th:text="${'Health and Safety'}"></div>
			<div class="divTableHead" th:text="${'LOD'}"></div>
			<div class="divTableHead" th:text="${'LOI'}"></div>
			<div class="divTableHead" th:text="${'Responsibility of'}"></div>
			<div class="divTableHead" th:text="${'Delivery Format'}"></div>
		</div>
	</div>

	<div class="divTableBody">

		<div class="divTableRow">
			<div class="divTableCell">
				<div th:replace="part2/common :: health_list(${pageOrder}, '6', ${question}, ${stage})"></div>
			</div>
			<div class="divTableCell">
				<div th:replace="part2/common :: LOD_list(${pageOrder}, '6', ${question}, ${stage})"></div>
			</div>

			<div class="divTableCell">
				<div th:replace="part2/common :: LOI_list(${pageOrder}, '6', ${question}, ${stage})"></div>
			</div>

			<div class="divTableCell">
				<div th:replace="part2/common :: team_list(${pageOrder}, '6', ${question}, ${stage})"></div>
			</div>

			<div class="divTableCell">
				<div
					th:replace="part2/common :: delivery_list(${pageOrder}, '6', ${question}, ${stage})"></div>
			</div>
		</div>

	</div>
</div>
</html>